{% extends 'layout.html' %}
{% block title %}Carrito de compras - AVJ{% endblock %}
{% block contents %}
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<script src="https://kit.fontawesome.com/765c0ce282.js" crossorigin="anonymous"></script>

<section id='Home' class="banner_car">
    <div class="cen">
        <div class="intro">
            <h5>CARRITO DE COMPRAS</h5>
        </div>
        <br>
        <br>
        <table class='tabla_1'>

            <thead>
                <tr>
                    <th>Sabor</th>
                    <th>Base</th>
                    <th>Tamaño</th>
                    <th>Cantidad de nicotina</th>
                    <th>Eliminar del carrito</th>
                </tr>
            </thead>

            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.sabor }}</td>
                    <td>{{ orden.base }}</td>
                    <td>{{ orden.tamaño }}</td>
                    <td>{{ orden.nic }}</td>
                    <td><a href="{{ url_for('auth.deleteCartItem', Id=orden.id) }}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class = "boton_car" href="{{ url_for('admin.enviar') }}">Finalizar</a>
    </div>




</section>


{% endblock %}