{% extends 'layout.html' %}
{% block title %}Welcome AVJ{% endblock %}
{% block contents %}
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<script src="https://kit.fontawesome.com/765c0ce282.js" crossorigin="anonymous"></script>

<body1>
    <img src="static\css\imagenes\Free\Menu.jpeg" style="width: 600px;height: 750px;">
    <img src="static\css\imagenes\Salt\Menu.jpeg" style="width: 600px;height: 750px;">
{% endblock %}
</body1>