{% extends 'layout.html' %}
{% block title %}Welcome AVJ{% endblock %}
{% block contents %}
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<script src="https://kit.fontawesome.com/765c0ce282.js" crossorigin="anonymous"></script>
<body>
    <section id='Home' class="banner">
        <div class="container">
            <a href="{{ url_for('orders.create') }}">Hacer una compra</a>
            <img src="static/css/imagenes/catalogo1.jpeg">
            <img src="static/css/imagenes/catalogo2.jpeg">
        </div>
    </section>
{% endblock %}
</body>