{% extends 'layout.html' %}
{% block title %}Welcome AVJ{% endblock %}
{% block contents %}
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<script src="https://kit.fontawesome.com/765c0ce282.js" crossorigin="anonymous"></script>
<body>
    <section id='Home' class="banner">
        <div class="container_form">
            <h1>Contact Us</h1>
            <form action="{{ url_for('auth.contact') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                {{ form.name }}
                <br>
                {{ form.email.label }}
                {{ form.email }}
                <br>
                {{ form.subject.label }}
                {{ form.subject }}
                <br>
                {{ form.message.label }}
                {{ form.message }}
                <br>
                {{ form.date.label }}
                {{ form.date }}
                <br>
                {{ form.submit }}
            </form>
        </div>
    </section>
{% endblock %}
</body>