* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 99;
    background-color: black;
}

nav{
    display: grid;
    grid-gap: 18px;
    grid-template-columns:  repeat(5, auto);
    font-weight: 600;
    align-items: center;
    background-color: black;
}

nav a:hover{
    color: aqua;
    transition: all 0.5s;
    
}

.container_nav {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;

    max-width: 1600px;
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;

    position: relative;
    color:white;
    background-color: black;
}

.logo-image img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-top: -6px;
}

h2{
    text-transform:uppercase;
    font-size: 32px;
    font-weight: 700;
}

a{
    color: white;
    font-size:30px;
    text-decoration: none;
    background-color: inherit;
}

p{
    background-color: inherit;
}

.banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url("https://media.istockphoto.com/photos/vaping-eliquid-from-an-electronic-cigarette-picture-id1199485567?k=20&m=1199485567&s=170667a&w=0&h=AFgGPV0J52DlciAOshrbOVpcJY0D8-SzQIoazuOTEos=");
    background-position: center left;
    background-size: cover;

    font-size: 35px;
    color: #fff;
    background-color: black;
}

.banner2{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url("https://media.istockphoto.com/photos/vaping-eliquid-from-an-electronic-cigarette-picture-id1199485567?k=20&m=1199485567&s=170667a&w=0&h=AFgGPV0J52DlciAOshrbOVpcJY0D8-SzQIoazuOTEos=");
    background-position: center left;
    background-size: cover;

    font-size: 35px;
    color: #fff;
    background-color: black;
}

.h1ban{
    font-size: 72px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px;
    background-color: inherit;
}

.h3ban{
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    background-color: inherit;
}

.banner:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgb(22, 33, 43);
    opacity: 0.5;  
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

span1{
    color: aqua;
    background-color: inherit;
}

.invisible_login{
    visibility: hidden;
}

.container_form{
    max-width: 1600px;
    margin: 0 auto;
    margin-right: 0;
    position: relative;
    top: -130px;
    text-align: center;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}   


.container_form h1{
    background-color: inherit;
    font-size: 45px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

form{
    background-color: transparent;
    font-size:30px;
    border-style: none;
}

form label{
    background-color: transparent;
    padding: 10px;
}

input, textarea, select, button {
    width : 150px;
    margin: 0;
    padding: 2px;
    font-size: 25px;
    margin-bottom:10px;
    box-sizing: border-box;
    background-color: black;
}


.container_form p{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    padding: 15px;
}

.container_form p a{
    font-size: 28px;
    color:aqua;
}

.container_form p a:hover{
    color: #B0B0B0;
}

div.contenedor{
    z-index: 1;
    margin-left: 400px;
    margin-right: 400px;
    height: 400px;
    overflow: hidden;
    background-color: transparent;
}

div.itemCarrusel{
    z-index: 1;
    height: 400px;
    width: 50%;
    position: relative;
    left: 25%;
}

div.tarjeta{
    z-index: 1;
    height: 100%;
}

div.flecha{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}

img{
    z-index: 99;
    width: 100%;
    height: 100%;
}

a i{
    color: #546666;
    font-size: 25px;
    padding: 10px;
    border-radius: 500px;
}

a i:hover{
    color: #C7D8D8;
}
.companytitulo h3{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.aboutus{
    align-items: center;
}

.font{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containercard{
    align-items: center;
    justify-content: center;
    height: 275px;
    background: black;
    padding-left: 200px;
    padding-bottom: 0%;
}

.card-container{
    align-items: center;
    height: auto;
    background: black;
    border-radius: 2px;
    display: flex;
}

.fotoabout{
    border-right: 2px solid white;
}
.descripcion{
    background: black;
    line-height: 25px;
    width: 300px;
    padding-left: 20px;
}

.descripcion p{
    font-size: 20px;
    text-align: justify;
}

.fotoabout img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-right: 20px;
}

.tabla1 th {
    font-size: 20px;
    text-transform: uppercase;
    border: white 2px solid;
    background-color:transparent;
    color: aqua;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
}

.tabla1 td {
    background-color: transparent;
    border:white 2px solid;
    padding: 10px;
}

.tabla1 tr{
    background-color:rgb(50, 50, 50);
}

.tabla1 caption {
    font-size: 35px;
    color:rgb(4, 110, 143);
    padding: 5px;
}

.tabla1 tr:nth-child(even){
    background-color: black;
}

.float_left{
    float: left;
    margin: 15px;
    margin-left: 4%;
    z-index: 1;
    
}

.float_right{
    float: right;
    margin: 100px;
    margin-right: 5px;
    margin-right: 1%;
    position: relative;
    top: -250px;
    background-color: transparent;
}

