{% extends 'layout_dash.html' %}
{% block title %}Mensajes - AVJ{% endblock %}
{% block contents %}

<section id='Home' class="banner_car">
    <div class="cen">
        <div class="intro">
            <h5>Mensajes</h5>
        </div>
        <br>
        <br>
        <table class='tabla_1'>

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Objeto</th>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                    <th>Leído</th>
                </tr>
            </thead>

            <tbody>
                {% for mensaje in mensajes %}
                <tr>
                    <td>{{ mensaje.name }}</td>
                    <td>{{ mensaje.email }}</td>
                    <td>{{ mensaje.subject }}</td>
                    <td>{{ mensaje.message }}</td>
                    <td>{{ mensaje.date }}</td>
                    <td><a href="{{ url_for('admin.deleteMessage', Id=mensaje.id) }}">Leído</a></td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

</section>


{% endblock %}