    {% extends 'layout_dash.html' %}
    {% block title %}Welcome AVJ{% endblock %}
    {% block contents %}
<body>
    <main>
        <section id='Home' class="banner">
            <div class="container">
                <h1  class="h1ban">
                    <p>Dashboard</p>
                </h1>

                <h3 class="h3ban">Bienvenido a tu página de admin, {{current_user.username}}.


                    <p> #Texto de pedidos </p>

                    <br>
            
                    <p> 2. Recuerda revisar tu catálogo y asegurarte de que todo esté en orden. 
                        No olvides actualizar el inventario de cada sabor. <p>

                    <br>
            
                    <p> #Texto de reporte <p>

                    <br>
            
                    <p> 4.No olvides revisar si tienes un mensaje pendiente de algún cliente. <p>
                

                </h3>
            </div>
        </section>

    </main>

    
    
    {% endblock %}
</body>