    {% extends 'layout_dash.html' %}
    {% block title %}Welcome AVJ{% endblock %}
    {% block contents %}
<body>
    <main>
        <section id='Home' class="banner">
            <div class="container">
                <h1  class="h1ban">
                    <p>Dashboard</p>
                </h1>

                <h3 class="h3ban">Bienvenido a tu página de admin, {{current_user.username}}.</h3>

                <ul>

                    <li> #Texto de pedidos </li>
            
                    <li> Recuerda revisar tu catálogo y asegurarte de que todo esté en orden. 
                        No olvides actualizar el inventario de cada sabor. </li>
            
                    <li> #Texto de reporte </li>
            
                    <li> No olvides revisar si tienes un mensaje pendiente de algún cliente. </li>
            
                </ul>
                

                
            </div>
        </section>

    </main>

    
    
    {% endblock %}
</body>