{% extends 'layout_dash.html' %}
{% block title %}Carrito de compras - AVJ{% endblock %}
{% block contents %}
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<script src="https://kit.fontawesome.com/765c0ce282.js" crossorigin="anonymous"></script>

<section id='Home' class="banner_car">
    <div class="cen">
        <div class="intro">
            <h5>Pedidos Pendientes</h5>
        </div>
        <br>
        <br>
        <table class='tabla_1'>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Sabor</th>
                    <th>Tamaño</th>
                    <th>Base</th>
                    <th>Nivel de Nicotina</th>
                    <th>Pago</th>
                    <th>Pedido terminado</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.nombre }}</td>
                    <td>{{ orden.direccion }}</td>
                    <td>{{ orden.sabor }}</td>
                    <td>{{ orden.tamaño }}</td>
                    <td>{{ orden.base }}</td>
                    <td>{{ orden.nic }}</td>
                    <td>{{ orden.pago }}</td>
                    <td><a href="{{ url_for('auth.deleteCartItem', Id=orden.id) }}">Finalizar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>   
    </div>
</section>
{% endblock %}