{% extends 'layout_dash.html' %}
{% block title %}Carrito de compras - AVJ{% endblock %}
{% block contents %}

<section id='Home' class="banner_car">
    <div class="cen">
        <div class="intro">
            <h5>Historial de Pedidos</h5>
        </div>
        <br>
        <br>
        <table class='tabla_1'>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Sabor</th>
                    <th>Tamaño</th>
                    <th>Base</th>
                    <th>Nivel de Nicotina</th>
                    <th>Pago</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.nombre }}</td>
                    <td>{{ orden.direccion }}</td>
                    <td>{{ orden.sabor }}</td>
                    <td>{{ orden.tamaño }}</td>
                    <td>{{ orden.base }}</td>
                    <td>{{ orden.nic }}</td>
                    <td>{{ orden.pago }}</td>
                    <td>{{ orden.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>   
    </div>
</section>

{% endblock %}