

    {% extends 'layout.html' %}
    {% block title %}Welcome AVJ{% endblock %}
    {% block contents %}
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> 
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
<body>
    <main>
        <section id='Home' class="banner">
            <div class="container">
                <h1  class="h1ban">
                    <p>Smoking is <span1>dead</span1>.</p> <p>Vaping is the <span1>future</span1>.</p> <p>And the future is <span1>now</span1>!</p>
                </h1>

                <h3 class="h3ban">Welcome to American Vape Juice{% if current_user.username %}, {{current_user.username}}.{% endif %}</h3>
            </div>
        </section>
        
        <br>
        <br>
        <br>

        <h3>Aca va una galeria de fotos</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="aboutus" id="about">
            <div class="companytitulo">
                <h3>Sobre nosotros</h3>
            </div>
            <div class="font">
                <div class="containercard">
                    <div class="card-container">
                        <div class="fotoabout">
                            <img src="static\css\mintvape.jpg" alt="">
                        </div>
                        <div class="descripcion">
                            <p>En American Vape Juice nos enfocamos en brindar la mejor calidad al mejor precio, en todos nuestros e-juice, 
                                todos nuestros aromas son fabricados en EUA, calidad Kosher y con certificación de FDA.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <br>
        <br>
        <br>



    </main>
    
    {% endblock %}
</body>