<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Vape Juice</title>

    <link rel="stylesheet" href="static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <!-- top nav bar -->
   <header>
        <div class="container_nav">
            <h2><span>El Salvador</span></h2>
            <nav>
                    <a href="#Home">Home</a>
                    <a href="#Places">Places</a>
                    <a href="#gallery">Contact Us</a>
                    <a href="#">About</a>
            </nav>
        </div>
    </header>
    <!-- top nav bar -->
    
    {% block contents %}{% endblock %}
</body>

</html>