{% extends 'layout.html' %}
{% block title %}Login - AVJ{% endblock %}
{% block contents %}

    <link rel="icon" href="static/css/favicon.ico">
<section id='Home' class="banner">
    <div class="container_form">
        <h1>Iniciar sesión</h1>
        <form action="{{ url_for('auth.login') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username }}
            <br>
            {{ form.password.label }}
            {{ form.password }}
            <br>
            {{ form.submit }}
            <br>
        </form>
        <p>¿No tienes cuenta? <a href="{{ url_for('auth.register') }}">Regístrate</a></p>
    </div>
</section>
<br>

{% endblock %}