{% extends 'layout.html' %}
{% block title %}Register - AVJ{% endblock %}
{% block contents %}

<section id='Home'>
    <div class="container_form">
        <h5>Register</h5>
        <form action="{{ url_for('auth.register') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username }}
            <br>
            {{ form.password.label }}
            {{ form.password }}
            <br>
            {{ form.submit }}
            <br>
        </form>
        <p>¿Ya tienes cuenta? <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endblock %}