{% extends 'layout.html' %}
{% block title %}Catálogo - AVJ{% endblock %}
{% block contents %}

<section id='Home' class="catalogo">
    <div>
        <br>
        <p>100ml freebase $25</p>
        <p>17ml salt nic $15</p>
        <p>Sin importar el nivel de nic ni el sabor</p>
        <br>
        <table class='tabla1'>
            <thead>
                <tr>
                    <th>Sabor</th>
                    <th>Descripción</th>
                    <th>Base</th>
                    <th>Tamaño</th>
                    <th>Nic</th>
                    <th>Stock</th>
                    <th>Add to Order</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.sabor }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.base }}</td>
                    <td>{{ item.tamaño }}</td>
                    <td>{{ item.nic }}</td> 
                    <td>{{ item.stock }}</td>
                    <td><a href="{{ url_for('orders.add', Id=item.id) }}" method = "post">{{ form.hidden_tag() }}{{ form.submit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--<div class="float_right">
        <div class="container_form">
            <h1>Su orden es: </h1>
            <table class='tabla1'>
    <thead>
        <tr>
            <th>Sabor</th>
            <th>Base</th>
            <th>Tamaño</th>
            <th>Nic</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes %}
        <tr>
            <td>{{ orden.sabor }}</td>
            <td>{{ orden.base }}</td>
            <td>{{ orden.tamaño }}</td>
            <td>{{ orden.nic }}</td>
            <td><a href="{{ url_for('orders.delete', Id=orden.id) }}" method = "post">Borrar</td>
        </tr>
        {% endfor %}
        </div>
    </div>
</section>
    <br>-->

{% endblock %}