{% extends 'layout.html' %}
{% block title %}Catálogo - AVJ{% endblock %}
{% block contents %}

<section id='Home' class="catalogo">
    <div>
        <br id='freebase'>
        <h1>Precios, sin importar el nivel de nicotina ni sabor:</h1>
        <p>FREEBASE 100 ml:$25.00</p>
        <p>SALTNIC 17 ml:$15.00</p>
        <p><a class="boton_catalogo1" href="#freebase">FREEBASE</a>
        <p><a class="boton_catalogo2" href="#saltnic">SALTNIC</a>
        <br>
        <div class="container">
            <a class="boton" href="{{ url_for('auth.cart') }}">Ir a carrito</a>
        </div>
        <div class="contenedor_order">
            <h5 >FREEBASE</h5>
            <br>
            <br>
            <table class='tabla1'>
                <thead>
                    <tr>
                        <th>Sabor</th>
                        <th>Descripción</th>
                        <th>Base</th>
                        <th>Tamaño</th>
                        <th>Nic</th>
                        <th>Stock</th>
                        <th>Add to Order</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.base == "Free"%}
                            <tr>
                                <td>{{ item.sabor }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td>{{ item.base }}</td>
                                <td>{{ item.tamaño }}</td>
                                <td>{{ item.nic }}</td> 
                                <td>{{ item.stock }}</td>
                                <td class="add"><a href="{{ url_for('orders.add', Id=item.id) }}" method = "post">{{ form.hidden_tag() }}{{ form.submit }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br id='saltnic'>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>SALTNIC</h5>
            <br>
            <br>
            <table class='tabla1'>
                <thead>
                    <tr>
                        <th>Sabor</th>
                        <th>Descripción</th>
                        <th>Base</th>
                        <th>Tamaño</th>
                        <th>Nic</th>
                        <th>Stock</th>
                        <th>Add to Order</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.base == "Salt Nic"%}
                            <tr>
                                <td>{{ item.sabor }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td>{{ item.base }}</td>
                                <td>{{ item.tamaño }}</td>
                                <td>{{ item.nic }}</td> 
                                <td>{{ item.stock }}</td>
                                <td><a href="{{ url_for('orders.add', Id=item.id) }}" method = "post">{{ form.hidden_tag() }}{{ form.submit }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}